body{
    margin: 0;
    padding: 0;
    background-color: #757575;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff; 
    padding: 2vw; 
    font-family: "Roboto", sans-serif;
}

a{
    padding: 2vw;
    width: 18vw;
    font-size: 3vh;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
}

#secaoSelect{
    width: 18vw; 
  }

select option[value=""] {
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    padding: 5vw;
    font-family: "Open Sans", sans-serif;
}

div{
    padding: 3vw;
    margin-bottom: 4vw;
    border-radius: 30px;
}

#projeto, #comoAceitar{
    background-color: #ffc600;
}

#porqueUsar, #negocios{
    background-color: #000000;
    color: #ffffff;
}